<form id="form" action="/request/{{data.request.id}}" method="post">
   <input type="hidden" id="_method" name="_method" value="post">

   <!-- Request data -->
   <div class="d-flex d-flex-row">
      <div class="css-flex-8">
         <label for="id" class="form-label">Attività</label>
         <input type="number" class="form-control" id="id" value="{{data.request.id}}" readonly>
      </div>
      <div class="css-flex-10 ms-2">
         <label for="request" class="form-label">Richiesta</label>
         <input type="text" class="form-control" id="request" value="{{data.request.request}}" readonly>
      </div>
      <div class="css-flex-15 ms-2">
         <label for="type" class="form-label">Tipo</label>
         {{#eq data.request.type 'W'}}
            <input type="text" class="form-control" id="type" value="Customizing" readonly>
         {{else}}
            <input type="text" class="form-control" id="type" value="Workbench" readonly>
         {{/eq}}
      </div>
      <div class="flex-grow-1 ms-2">
         <label for="description" class="form-label">Descrizione</label>
         <input type="text" class="form-control" id="description" name="description"
                value="{{data.request.description}}" readonly>
      </div>
   </div>

   <div class="d-flex d-flex-row mt-1">
      <div class="css-flex-30">
         <label for="owner" class="form-label">Utente</label>
         <input type="text" class="form-control" id="owner" name="owner" value="{{data.request.owner}}" readonly>
      </div>
      <div class="css-flex-15 ms-2">
         <label for="date" class="form-label">Data</label>
         <input type="datetime-local" class="form-control" id="date" name="date" value="{{data.request.date}}" readonly>
      </div>
      <div class="flex-grow-1 ms-2">
         <label for="activity" class="form-label">
            Attività
            <a href="/activity/{{data.activity.id}}" class="css-disabled-link">
               <i class="bi bi-arrow-right-short"></i>
            </a>
         </label>
         <input type="text" class="form-control" id="activity" value="{{data.activity.description}}" readonly>
      </div>
   </div>

   <div class="d-flex d-flex-row mt-1">
      <div class="flex-grow-1">
         <label for="note" class="form-label">Note</label>
         <textarea class="form-control" id="note" name="note">{{data.request.note}}</textarea>
      </div>
   </div>

   <!-- Save change & Delete request-old -->
   <div class="d-flex d-inline-row justify-content-center mt-2">
      <button type="button" class="btn btn-success me-1" onclick="modalSubmit();">
         <i class="bi bi-floppy"></i>
      </button>
      <a href="/request/export/T{{data.request.id}}" type="button" class="btn btn-primary me-1">
         <i class="bi bi-download"></i>
      </a>
      <button type="button" class="btn btn-danger me-1" onclick="deleteObject({{data.request.id}});">
         <i class="bi bi-trash"></i>
      </button>
      <a href="/request" type="button" class="d-inline-flex btn btn-secondary">
         <i class="bi bi-x-square"></i>
      </a>
   </div>

   <div class="accordion mt-2" id="activityDetails">

      <!-- List of objects -->
      <div class="accordion-item">
         <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#workday"
                    aria-expanded="false" aria-controls="workday">
               Oggetti
            </button>
         </h2>
         <div id="workday" class="accordion-collapse collapse" data-bs-parent="#activityDetails">
            <div class="accordion-body">
               <ul class="list-group p-2 css-font-size-95">
                  <table class="table table-striped">
                     <thead>
                     <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Funzione</th>
                        <th scope="col">Stato</th>
                        <th scope="col">Lingua</th>
                        <th scope="col">Customizing</th>
                     </tr>
                     </thead>
                     <tbody>
                     {{#each data.request.object}}
                        <tr>
                           <th scope="row">{{as4pos}}</th>
                           <td>{{pgmid}}</td>
                           <td>{{object}}</td>
                           <td>{{obj_name}}</td>
                           <td>{{objfunc}}</td>
                           <td>{{lockflag}}</td>
                           <td>{{lang}}</td>
                           <td>{{activity}}</td>
                        </tr>
                     {{/each}}
                     </tbody>
                  </table>
               </ul>
            </div>
         </div>
      </div>

      <!-- List of logs -->
      <div class="accordion-item">
         <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#request"
                    aria-expanded="false" aria-controls="request">
               Log di trasporto
            </button>
         </h2>
         <div id="request" class="accordion-collapse collapse" data-bs-parent="#activityDetails">
            <div class="accordion-body">
               <ul class="list-group p-2 css-font-size-95">
                  <table class="table table-striped">
                     <thead>
                     <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sistema</th>
                        <th scope="col">Operazione</th>
                        <th scope="col">Data</th>
                        <th scope="col">Sistema RC</th>
                        <th scope="col">Operazione RC</th>
                        <th scope="col">Azione RC
                     </tr>
                     </thead>
                     <tbody>
                     {{#each data.request.cofile}}
                        <tr>
                           <th scope="row">{{pos}}</th>
                           <td>{{systemid}}</td>
                           <td>{{stepid}}</td>
                           <td>{{moment date lang="it" format="DD MMMM YYYY HH:MM:SS"}}</td>
                           <td>{{system_rc}}</td>
                           <td>{{stapid_rc}}</td>
                           <td>{{action_rc}}</td>
                        </tr>
                     {{/each}}
                     </tbody>
                  </table>
               </ul>
            </div>
         </div>
      </div>
   </div>

   {{> YesOrNo}}
   {{> Error}}
</form>

<script>
   function modalSubmit() {
      document.querySelector("#form").submit();
   }
   function deleteObject() {
      document.querySelector("#_method").value = "delete";
      let modal = new bootstrap.Modal("#YesOrNo");
      modal.show();
   }
</script>