<h6>Lista degli accessi</h6>
<ul class="list-group p-2 css-font-size-95">

   <!-- Customer data -->
   <div class="d-flex d-flex-row">
      <div class="css-flex-8">
         <label for="id" class="form-label">Cliente</label>
         <input type="number" class="form-control" id="id" name="id" value="{{data.customer.id}}" readonly>
      </div>
      <div class="flex-grow-1 ms-2">
         <label for="description" class="form-label">Descrizione</label>
         <input type="text" class="form-control" id="description" name="description"
                value="{{data.customer.description}}" readonly>
      </div>
   </div>

   <!-- New value -->
   <div class="d-flex d-inline-row justify-content-center mt-2">
      <a href="/access/edit/{{data.customer.id}}/0" type="button" class="btn btn-success me-1">
         <i class="bi bi-plus-square"></i>
      </a>
      <button type="button" class="btn btn-danger me-1" onclick="deleteObject({{data.customer.id}});">
         <i class="bi bi-trash"></i>
      </button>
      <a href="/access" type="button" class="d-inline-flex btn btn-secondary">
         <i class="bi bi-x-square"></i>
      </a>
   </div>

   <!-- List of values -->
   <div class="mt-2">
      {{#each data.value}}
         <div class="d-flex flex-row align-items-center">
            <a href="/access/edit/{{id}}/{{valueid}}" class="css-flex-95 css-disabled-link">
               <div class="list-group-item list-group-item-action css-listgroup-item">
                  <span>{{description}}</span><br>
                  <span class="css-summarize fst-italic">Modificato il {{changed_on}}</span>
               </div>
            </a>
            <a href="/access/copy/{{id}}/{{valueid}}" type="button" class="d-inline-flex btn btn-primary ms-1">
               <i class="bi bi-copy"></i>
            </a>
         </div>
      {{/each}}
   </div>
</ul>

{{> Success}}

<form id="form" action="/access/edit/{{data.customer.id}}" method="post">
   <input type="text" id="_method" name="_method" value="delete" hidden>
   {{> YesOrNo}}
</form>

<script>
   function modalSubmit() {
      document.querySelector("#_method").value = "delete";
      document.querySelector("#form").submit();
   }
   function deleteObject(customerid, valueid) {
      let modal = new bootstrap.Modal("#YesOrNo");
      modal.show();
   }
   function copyValue(customerid, valueid) {
      let e = document.querySelector("#link");
      document.querySelector("#link").href = "/access/copy/" + customerid + "/" + valueid;
      document.querySelector("#_method").value = "post";
      document.querySelector("#form").submit();
   }
</script>