<form id="form" action="/activity/{{data.id}}" method="post">
   <input type="hidden" id="_method" name="_method" value="post">

   <!-- Activity data -->
   <div class="d-flex d-flex-row">
      <div class="css-flex-8">
         <label for="id" class="form-label">Attività</label>
         <input type="number" class="form-control" id="id" name="id" value="{{data.id}}" readonly>
      </div>
      <div class="css-flex-15 ms-2">
         <label for="internal_ref" class="form-label">Rif. interno</label>
         <input type="text" class="form-control" id="internal_ref" name="internal_ref" value="{{data.internal_ref}}"
                readonly>
      </div>
      <div class="css-flex-15 ms-2">
         <label for="external_ref" class="form-label">Rif. esterno</label>
         <input type="text" class="form-control" id="external_ref" name="external_ref" value="{{data.external_ref}}"
                maxlength="25">
      </div>
      <div class="css-flex-15 ms-2">
         <label for="type" class="form-label">Tipo</label>
         <select class="form-select" id="type" name="type">
            <option value="1" {{#eq 1 data.type}}selected{{/eq}}>Change request</option>
            <option value="2" {{#eq 2 data.type}}selected{{/eq}}>AMS</option>
            <option value="3" {{#eq 3 data.type}}selected{{/eq}}>Altro</option>
            <option value="4" {{#eq 4 data.type}}selected{{/eq}}>Interna</option>
         </select>
      </div>
      <div class="flex-grow-1 ms-2">
         <label for="description" class="form-label">Descrizione</label>
         <input type="text" class="form-control" id="description" name="description" value="{{data.description}}"
                maxlength="80" required>
      </div>
   </div>

   <div class="d-flex d-flex-row mt-1">
      <div class="css-flex-50">
         <label for="wbs" class="form-label">
            Commessa
            <a href="/wbs/{{data.wbs_id}}" class="css-disabled-link">
               <i class="bi bi-arrow-right-short"></i>
            </a>
         </label>
         <select class="form-select" id="wbs" name="wbs" required>
            {{#each data.wbs_list}}
               <option value="{{id}}" {{#eq id ../data.wbs_id}}selected{{/eq}}>{{description1}} ({{internal_ref}})
               </option>
            {{/each}}
         </select>
      </div>
      <div class="css-flex-50 ms-2">
         <label for="customer_description" class="form-label">
            Cliente
            <a href="/customer/{{data.customer_id}}" class="css-disabled-link">
               <i class="bi bi-arrow-right-short"></i></a>
         </label>
         <input type="text" class="form-control" id="customer_description" value="{{data.customer_description}}"
                disabled>
      </div>
   </div>

   <div class="d-flex d-flex-row mt-1">
      <div class="css-flex-30">
         <label for="functional" class="form-label">Funzionale</label>
         <input type="text" class="form-control" id="functional" name="functional" value="{{data.functional}}"
                maxlength="30">
      </div>
      <div class="css-flex-30 ms-2">
         <label for="technical" class="form-label">Tecnico</label>
         <input type="text" class="form-control" id="technical" name="technical" value="{{data.technical}}"
                maxlength="30">
      </div>
      <div class="css-flex-15 ms-2">
         <label for="hour" class="form-label">Ore</label>
         <input type="number" class="form-control" id="hour" name="hour" min="0" step="0.5"
                value="{{data.hour}}"
                required>
      </div>
      <div class="flex-grow-1 ms-2">
         <label for="status" class="form-label">Stato</label>
         <select class="form-select" id="status" name="status" required>
            <option value="1" {{#eq 1 data.status}}selected{{/eq}}>Aperta</option>
            <option value="2" {{#eq 2 data.status}}selected{{/eq}}>Assegnata</option>
            <option value="3" {{#eq 3 data.status}}selected{{/eq}}>Test</option>
            <option value="4" {{#eq 4 data.status}}selected{{/eq}}>Chiusa</option>
            <option value="5" {{#eq 5 data.status}}selected{{/eq}}>Annullata</option>
         </select>
      </div>
   </div>

   <div class="d-flex d-flex-row mt-1">
      <div class="flex-grow-1">
         <label for="note" name="note" class="form-label">Note</label>
         <textarea class="form-control" id="note" name="note">{{data.note}}</textarea>
      </div>
   </div>

   <!-- Save change & Delete activity -->
   <div class="d-flex d-inline-row justify-content-center mt-2">
      <button type="submit" class="btn btn-success me-1">
         <i class="bi bi-floppy"></i>
      </button>
      {{#unless data.request}}
         <button type="button" class="btn btn-danger me-1" onclick="deleteObject({{data.id}});">
            <i class="bi bi-trash"></i>
         </button>
      {{/unless}}
      <a href="/activity" type="button" class="d-inline-flex btn btn-secondary me-1">
         <i class="bi bi-x-square"></i>
      </a>
      <div class="btn-group">
         <button type="button" class="btn btn-info">
            <i class="bi bi-gear"></i>
         </button>
         <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                 aria-expanded="false">
            <span class="visually-hidden"></span>
         </button>
         <ul class="dropdown-menu">
            <li>
               <button type="button" class="dropdown-item" onclick="rapidWorkday();">Consuntivazione rapida...</button>
            </li>
            <li>
               <button type="button" class="dropdown-item" onclick="rapidRequest();">Trasporto rapido...</button>
            </li>
         </ul>
      </div>
   </div>

   <div class="accordion mt-2" id="activityObjects">

      <!-- List of workdays -->
      <div class="accordion-item">
         <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#workday"
                    aria-expanded="false" aria-controls="workday">
               Consuntivazione
            </button>
         </h2>
         <div id="workday" class="accordion-collapse collapse" data-bs-parent="#activityObjects">
            <div class="accordion-body">
               <ul class="list-group p-2 css-font-size-95">
                  {{#each data.workday}}
                     <a href="/workday/{{id}}" class="list-group-item list-group-item-action css-listgroup-item">
                        <div class="d-flex flex-row align-items-center">
                           <div>
                              <span>{{moment date lang="it" format="dddd, DD MMMM YYYY"}} {{note}}</span><br>
                              <span class="css-summarize fst-italic">Ore: {{hour}}</span>
                           </div>
                        </div>
                     </a>
                  {{/each}}
               </ul>
            </div>
         </div>
      </div>

      <!-- List of Change requests -->
      <div class="accordion-item">
         <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#request"
                    aria-expanded="false" aria-controls="request">
               Richiesta di trasporto
            </button>
         </h2>
         <div id="request" class="accordion-collapse collapse" data-bs-parent="#activityObjects">
            <div class="accordion-body">
               <ul class="list-group p-2 css-font-size-95">
                  {{#each data.request}}
                     <a href="/request/{{id}}" class="list-group-item list-group-item-action css-listgroup-item">
                        <div class="d-flex flex-row align-items-center">
                           <div>
                              <span>{{request}} - {{description}}</span><br>
                              <span class="css-summarize fst-italic">{{moment date lang="it"
                                                                              format="dddd, DD MMMM YYYY"}}</span>
                           </div>
                        </div>
                     </a>
                  {{/each}}
               </ul>
            </div>
         </div>
      </div>
   </div>
   {{> YesOrNo}}
   {{> Error}}
   {{> RapidWorkday}}
   {{> RapidRequest}}
</form>

<script>
   function modalSubmit() {
      document.querySelector("#form").submit();
   }
   function deleteObject(id) {
      document.querySelector("#_method").value = "delete";
      let modal = new bootstrap.Modal("#YesOrNo");
      modal.show();
   }
   function rapidWorkday() {
      let modal = new bootstrap.Modal("#RapidWorkday");
      modal.show();
   }
   function rapidRequest() {
      let modal = new bootstrap.Modal("#RapidRequest");
      modal.show();
   }
   function modalRapidSubmit(flow) {
      switch(flow) {
         case 1:
            let h = parseInt(document.querySelector("#rwhour").value);
            let p = document.querySelector("#rwplace").value.trim().length;
            if(isNaN(h) || h < 1 || h > 8) {
               document.querySelector(".toast-body").innerText = "Inserire un valore compreso tra 1 e 8 ore";
               toast.show();
            }
            else if(!p) {
               document.querySelector(".toast-body").innerText = "Specificare una località";
               toast.show();
            }
            else {
               document.querySelector("#form").action = "/activity/workday/{{data.id}}";
               document.querySelector("#form").submit();
            }
            break;

         default:
            let r = document.querySelector("#rrrequest").value.trim().length;
            let d = document.querySelector("#rrdescription").value.trim().length;

            if(!r) {
               document.querySelector(".toast-body").innerText = "Inserire un numero di richiesta";
               toast.show();
            }
            else if(!d) {
               document.querySelector(".toast-body").innerText = "Specificare una descrizione";
               toast.show();
            }
            else {
               document.querySelector("#form").action = "/activity/request/{{data.id}}";
               document.querySelector("#form").submit();
            }
      }

   }
</script>